* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'booster';
  src: url('./assets/fonts/BoosterNextFY-Medium.woff2') format('woff2'),
    url('./assets/fonts/BoosterNextFY-Medium.woff') format('woff'),
    url('./assets/fonts/BoosterNextFY-Light.woff2') format('woff2'),
    url('./assets/fonts/BoosterNextFY-Light.woff') format('woff'),
    url('./assets/fonts/BoosterNextFY-Bold.woff2') format('woff2'),
    url('./assets/fonts/BoosterNextFY-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* TODO: include booster to body  */
body {
  font-family: sans-serif;
}
